<div class='row home-container'>
  <div class='col-lg-3  micropost-form'>
    <%= render 'shared/micropost_form' %>
  </div>
  <div class='col-lg-7  micropost-index'>
    <%= render 'shared/micropost_index' %>
  </div>
  <div class='col-lg-2  link-list'>
    <%= render 'shared/link_list' %>
  </div>
</div>
