<div class="container-fluid home-container">
  <div class="row">
    <aside class="col-lg-3  micropost-form">
      <%= render 'shared/micropost_form' %>
    </aside>
    <div class="col-lg-7  micropost-index">
      投稿リスト
    </div>
    <div class="col-lg-2  link-list">
      リンク一覧
    </div>
  </div>
</div>
