version: '3.1'
services:
  chrome:
    image: selenium/standalone-chrome
    logging:
      driver: none

  webapp:
    build:
      context: .
    env_file:
      - ./environments/db.env
    volumes:
      - .:/short_diary_docker
      - public-data:/short_diary_docker/public
      - tmp-data:/short_diary_docker/tmp
      - log-data:/short_diary_docker/log
    depends_on:
      - chrome
    tty: true
    command: bundle exec puma -C config/puma.rb
    # secretsはデプロイ時のみコメントアウト
    secrets:
      - ec2_rsa
      - git_rsa

  db:
    image: mysql:8.0
    env_file:
      - ./environments/db.env
    volumes:
      - db-data:/var/lib/mysql
      - ./mysql-confd:/etc/mysql/conf.d
    depends_on:
      - webapp

  nginx:
    build:
      context: containers/nginx
    volumes:
      - public-data:/short_diary_docker/public
      - tmp-data:/short_diary_docker/tmp
    ports:
      - 80:80
    depends_on:
      - db

# secretsはデプロイ時のみコメントアウト
secrets:
  ec2_rsa:
    file: ${SHORT_DIARY_KEY}
  git_rsa:
    file: ${GIT_KEY}

volumes:
  public-data:
  tmp-data:
  log-data:
  db-data:
