version: '3'
services:
  webapp:
    build: .
    env_file:
      - ./environments/selenium.env
      - ./environments/db.env
    volumes:
      - .:/short_diary_docker
    ports:
      - 3000:3000
    depends_on:
      - selenium_chrome
      - db
      # - webpacker
    tty: true
    command: bundle exec puma -C config/puma.rb

  selenium_chrome:
    image: selenium/standalone-chrome-debug
    logging:
      driver: none
    ports:
      - 4444:4444

  db:
    image: mysql
    env_file:
      - ./environments/db.env
    volumes:
      - db-data:/var/lib/mysql
      - ./mysql-confd:/etc/mysql/conf.d

  nginx:
    build: containers/nginx
    volumes:
      - public-data:/short_diary_docker_docker/public
      - tmp-data:/short_diary_docker_docker/tmp
    ports:
      - 80:80
    depends_on:
      - webapp

  # webpacker:
  #   build: .
  #   command: bundle exec bin/webpack-dev-server
  #   volumes:
  #     - .:/short_diary_docker
  #   ports:
  #     - 8080:8080

volumes:
  public-data:
  tmp-data:
  db-data:
