<h1 class='link-list-title'>Links</h1>
  <div>
    <%= link_to '登録情報編集', edit_user_registration_path ,class:'btn btn-info link' %>
  </div>
  <div>
    <%= link_to 'お気に入り一覧', '#' ,class:'btn btn-success link' %>
  </div>