/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

// 共通
body{
 background-image: image-url("background.jpg");
 padding-top: 4.22875rem;
}

.container-fluid{
  padding:0;
}

// header
.navbar-extend {
  margin-bottom: 0;
  background-color: azure;
  ul li a button {
    padding: 0.375rem 1.5rem;
  }
}

.navbar-brand{
  font-size: 1.43rem;
  background-color:white;
  padding: 0.28rem 0.92rem 0.42rem 0.92rem;
  margin: 0.14rem;
  border:0.01rem darkturquoise solid;
  border-radius: 0.63rem;
  letter-spacing: 0.07rem;
}

.nav-item-extend{
  .btn-extend{
    margin-left: 1rem;
    float: right;
    margin-top: 0.6rem;
    font-size: 1.43rem;
    padding: 0.28rem 0.92rem 0.42rem 0.92rem;
    margin: 0.14rem;
    border-radius: 0.63rem;
    letter-spacing: 0.07rem;
  }
}

// Alert
 .alert{
   margin:1.5rem 0;
   text-align: center;
   padding: 1.3rem 0;
 }

 .alert-notice{
   color: #155724;
   background-color: #d4edda;
 }

 .alert-alert{
   color: #721c24;
   background-color: #f8d7da;
 }

// jumbotron
.jumbotron-extend {
  background-image: image-url("note.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  .container {
    h1,p {
      color:black;
      margin-bottom: 0.75rem;
      opacity: 0.8;
    }
    h1 {
      margin-bottom: 1.5rem;
    }
    .btn-container {
      margin-top: 2rem;
      p {
        margin-top: 1rem;
      }
    }
  }
}

// Formがある画面
.signup-container,
.login-container,
.authenticationre-transmission-container,
.password-reset-new-container,
.password-reset-edit-container,
.unlock-container{
  margin-top:3rem;
  padding:3.5rem;
  background-color:white;
  border: 0.63rem solid skyblue;
  border-radius: 4.4rem;
  text-align: center;
  .title-container{
    color:lightskyblue;
    letter-spacing: 0.15rem;
  }
}

// Form
.form-group:first-of-type{
  margin-top: 1.8rem;
}
.form-group{
  padding:0.4rem 0;
}
.form-submit{
  font-size:1.2rem;
}

// Formエラー表示
#error_explanation {
  text-align: center;
  color: red;
  ul {
    display: inline-block;
    text-align: left;
    color: red;
    padding:1rem 0;
  }
}
.field_with_errors .form-control {
  border-color: red;
}

// shared/_micropost-form
.home-container{
  background-color: white;
}

.micropost-form{
  padding: 1.5rem 0 0 2rem;
  .micropost-form-title{
    font-family:cursive,Century;
  }
  .content-form{
    height: 7rem;
  }
  .image-form{
    height:auto;
    margin:0.4rem 0;
  }
}

// shared/_micropost-index
.micropost-index{
  padding-top: 1.5rem;
  .micropost-index-title{
    padding-left: 1.8rem;
    margin-bottom:2rem;
    font-family:cursive,Century;
  }
  .microposts{
    list-style: none;
    text-align: left;
    li{
      overflow: auto;
      padding: 0.65rem 0;
      border: 0.065rem solid darkturquoise;
      .micropost-date{
        font-family:cursive,Century;
      }
      .micropost-delete{
        text-align: right;
      }
      .micropost-content{
        padding-top:0.2rem;
        white-space: pre-line;
      }
      .micropost-picture{
        padding-top:1rem;
        text-align: center;
      }
    }
  }
}

.link-list{
  padding-top: 1.5rem;
}

// Pagination
.pagination{
  justify-content: center;
  .page-item {
    &.active .page-link{
      background:darkturquoise;
   }
   .page-link{
     border:none;
     margin:0 0.04rem;
     border-radius: 10%;
     &:hover{
       color:black;
       background:darkturquoise;
     }
   }
 }
}
