// 共通
body {
  background-image: image-url("background.jpg");
  padding-top: 4.22875rem;
}

// header
.navbar-extend {
  margin-bottom: 0;
  background-color: darkturquoise;
  ul li a button {
    padding: 0.375rem 1.5rem;
  }
}

.navbar-brand {
  font-size: 1.43rem;
  background-color: white;
  padding: 0.28rem 0.92rem 0.42rem 0.92rem;
  margin: 0.14rem;
  border: 0.01rem darkturquoise solid;
  border-radius: 0.63rem;
  letter-spacing: 0.07rem;
}

.nav-item-extend {
  .btn-extend {
    float: right;
    margin-top: 0.6rem;
    font-size: 1.43rem;
    padding: 0.28rem 0.92rem 0.42rem 0.92rem;
    margin: 0.14rem;
    border-radius: 0.63rem;
    letter-spacing: 0.07rem;
  }
}

// footer
footer {
  border-top: 0.065rem solid mediumturquoise;
  padding-top: 1rem;
  height: 4.5rem;
  background-color: darkturquoise;
  ul {
    float: right;
    list-style: none;
    padding-right: 1rem;
    a {
      float: left;
      font-size: 1rem;
      background-color: white;
      padding: 0.5rem 0.9rem;
      border: 0.01rem darkturquoise solid;
      border-radius: 0.63rem;
      letter-spacing: 0.07rem;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

// headerとfooter以外共通
.remove-all-margin-padding {
  margin: 0 ! important;
  padding: 0 ! important;
}

// Alert
.alert {
  text-align: center;
  padding: 1.3rem 0;
}

.alert-notice {
  color: #155724;
  background-color: #d4edda;
}

.alert-alert {
  color: #721c24;
  background-color: #f8d7da;
}

// headerのすぐしたに出るやつ
#flash-message{
  position: fixed;
  top: auto;
  width: 100%;
}

// jumbotron
.jumbotron-extend {
  background-image: image-url("note.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  .container {
    h1,
    p {
      color: black;
      margin-bottom: 0.75rem;
      opacity: 0.8;
    }
    h1 {
      margin-bottom: 1.5rem;
    }
    .btn-container {
      margin-top: 2rem;
      p {
        margin-top: 1rem;
      }
    }
  }
}

// Pagination機能
.pagination {
  justify-content: center;
  .page-item {
    &.active .page-link {
      background: darkturquoise;
    }
    .page-link {
      border: none;
      margin: 0 0.04rem;
      border-radius: 10%;
      margin-left: 0.4rem;
      &:hover {
        color: white;
        background: darkturquoise;
      }
    }
  }
}


// Form
.form-group:first-of-type {
  margin-top: 1.8rem;
}

.form-group {
  padding: 0.4rem 0;
}

.form-submit {
  font-size: 1.2rem;
}

// Formエラー表示
#error_explanation {
  margin: 1.5rem 0;
  text-align: center;
  color: red;
  ul {
    display: inline-block;
    text-align: left;
    color: red;
    padding: 1rem 0;
  }
}

.field_with_errors .form-control {
  border-color: red;
}

.g-recaptcha {
  margin-right:auto;
  margin-left:auto;
  text-align: center;
  width: 20rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

//Formが大部分を占めるのページレイアウト(Devise関連のページ)
.container-extend {
  margin-top: 3rem;
  margin-bottom: 4rem;
  padding: 3.5rem;
  background-color: white;
  border: 0.63rem double skyblue;
  border-radius: 4.4rem;
  text-align: center;
  .title-container {
    color: lightskyblue;
    letter-spacing: 0.15rem;
  }
}

// shared/_link_list
.link-list {
  padding-top: 1.5rem;
  .link-list-title {
    margin-bottom: 2rem;
    font-family: cursive, Century;
  }
  .link {
    width: 10rem;
    margin-bottom: 0.6rem;
  }
}

// devise/registrations/_user_delete
.user-delete-container {
  width: 40%;
  margin-top: 5rem;
  margin-bottom: 4rem;
  padding: 2rem;
  background-color: white;
  border: 0.3rem solid red;
  border-radius: 1rem;
  text-align: center;
  h3 {
    margin-bottom: 2rem;
    letter-spacing: 0.15rem;
  }
}

// staticpages/home ログイン時 (views/microposts)のhtmlファイル
.home-container {
  background-color: white;
  padding-left: 1rem;
  padding-bottom: 4rem;
  margin: 0 ! important;
}

// microposts/_micropost-form
.micropost-form {
  padding-top: 1.5rem;
  .micropost-form-title {
    font-family: cursive, Century;
  }
  .content-form {
    height: 7rem;
  }
  .image-form {
    height: auto;
    margin: 0.4rem 0;
  }
}

// microposts/_micropost-index
.micropost-index {
  padding-top: 1.5rem;
  .micropost-index-title {
    margin-bottom: 2rem;
    font-family: cursive, Century;
  }
  .microposts {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    .micropost {
      overflow: auto;
      padding: 0.65rem 0;
      border: 0.065rem solid darkturquoise;
      .micropost-date {
        font-family: cursive, Century;
      }
      .micropost-favorite-delete {
        display: inline-flex;
        justify-content: flex-end;
        .micropost-delete{
          margin-left: 0.5rem;
        }
      }
      .micropost-content {
        white-space: pre-line;
      }
      .micropost-picture {
        padding-top: 0.7rem;
        text-align: center;
      }
    }
  }
}

// microposts/search_field
.search {
  text-align: center;
  padding: 1.5rem 0;
  .text-field {
    width: 55%;
  }
  .search-submit {
    background-color: darkturquoise;
    color: white;
    border: 0.14rem solid skyblue;
    &:hover {
      background: skyblue;
    }
  }
}


// favorites/index
.favorite-index-container{
  background-color: white;
  padding-left: 1rem;
  padding-bottom: 4rem;
  margin: 0 ! important;
  .title-container {
    margin-top: 3rem;
    color: lightskyblue;
    text-align: center;
    letter-spacing: 0.15rem;
  }
  .fav_microposts {
    margin: auto;
    padding-left:0;
    list-style: none;
    .fav_micropost {
      overflow: auto;
      padding: 0.65rem 0;
      border: 0.065rem solid darkturquoise;
      .fav_micropost-date {
        font-family: cursive, Century;
      }
      .fav_micropost-favorite_form {
        display: inline-flex;
        justify-content: flex-end;
      }
      .fav_micropost-content {
        white-space: pre-line;
      }
      .fav_micropost-picture {
        padding-top: 0.7rem;
        text-align: center;
      }
    }
  }
}