// 共通
body{
 background-image: image-url("background.jpg");
 padding-top: 4.22875rem;
}

// header
.navbar-extend {
  margin-bottom: 0;
  background-color: darkturquoise;
  ul li a button {
    padding: 0.375rem 1.5rem;
  }
}

.navbar-brand{
  font-size: 1.43rem;
  background-color: white;
  padding: 0.28rem 0.92rem 0.42rem 0.92rem;
  margin: 0.14rem;
  border: 0.01rem darkturquoise solid;
  border-radius: 0.63rem;
  letter-spacing: 0.07rem;
}

.nav-item-extend{
  .btn-extend{
    float: right;
    margin-top: 0.6rem;
    font-size: 1.43rem;
    padding: 0.28rem 0.92rem 0.42rem 0.92rem;
    margin: 0.14rem;
    border-radius: 0.63rem;
    letter-spacing: 0.07rem;
  }
}
/* footer */

footer {
  border-top: 0.065rem solid mediumturquoise;
  padding-top: 1rem;
  height: 4.5rem;
  background-color: darkturquoise;
  ul {
    float: right;
    list-style: none;
    padding-right: 1rem;
    a {
      float: left;
      font-size: 1rem;
      background-color: white;
      padding: 0.5rem 0.9rem;
      border: 0.01rem darkturquoise solid;
      border-radius: 0.63rem;
      letter-spacing: 0.07rem;
      &:hover{
        text-decoration: none;
      }
    }
  }
}

// headerとfooter以外共通
.remove-all-margin-padding{
  margin: 0! important;
  padding: 0! important;
}

// Alert
 .alert{
   margin: 1.5rem 0;
   text-align: center;
   padding: 1.3rem 0;
 }

 .alert-notice{
   color: #155724;
   background-color: #d4edda;
 }

 .alert-alert{
   color: #721c24;
   background-color: #f8d7da;
 }

// jumbotron
.jumbotron-extend {
  background-image: image-url("note.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  .container {
    h1,p {
      color: black;
      margin-bottom: 0.75rem;
      opacity: 0.8;
    }
    h1 {
      margin-bottom: 1.5rem;
    }
    .btn-container {
      margin-top: 2rem;
      p {
        margin-top: 1rem;
      }
    }
  }
}

// Formがある画面
.signup-container,
.login-container,
.authenticationre-transmission-container,
.password-reset-new-container,
.password-reset-edit-container,
.unlock-container,
.user-edit-container{
  margin-top: 3rem;
  margin-bottom: 4rem;
  padding: 3.5rem;
  background-color: white;
  border: 0.63rem double skyblue;
  border-radius: 4.4rem;
  text-align: center;
  .title-container{
    color: lightskyblue;
    letter-spacing: 0.15rem;
  }
}

// Form
.form-group:first-of-type{
  margin-top: 1.8rem;
}
.form-group{
  padding: 0.4rem 0;
}
.form-submit{
  font-size: 1.2rem;
}

// Formエラー表示
#error_explanation {
  text-align: center;
  color: red;
  ul {
    display: inline-block;
    text-align: left;
    color: red;
    padding: 1rem 0;
  }
}
.field_with_errors .form-control {
  border-color: red;
}

// devise/registrations/_user_delete
  .user-delete-container{
    width: 40%;
    margin-top: 5rem;
    margin-bottom: 4rem;
    padding: 2rem;
    background-color: white;
    border: 0.3rem solid red;
    border-radius: 1rem;
    text-align: center;
    h3{
      margin-bottom: 2rem;
      letter-spacing: 0.15rem;
    }
  }

// staticpages/home　ログイン時
.home-container{
  background-color: white;
  padding-left: 1rem;
  padding-bottom: 4rem;
  margin: 0 ! important;
}

// shared/_micropost-form
.micropost-form{
  padding-top: 1.5rem;
  .micropost-form-title{
    font-family: cursive,Century;
  }
  .content-form{
    height: 7rem;
  }
  .image-form{
    height: auto;
    margin: 0.4rem 0;
  }
}

// shared/_micropost-index
.micropost-index{
  padding-top: 1.5rem;
  .micropost-index-title{
    margin-bottom: 2rem;
    font-family: cursive,Century;
  }
  .microposts{
    list-style: none;
    text-align: left;
    .micropost{
      overflow: auto;
      padding: 0.65rem 0;
      border: 0.065rem solid darkturquoise;
      .micropost-date{
        font-family: cursive,Century;
      }
      .micropost-delete{
        text-align: right;
      }
      .micropost-content{
        white-space: pre-line;
      }
      .micropost-picture{
        padding-top: 0.7rem;
        text-align: center;
      }
    }
  }
}

// shared/_link_list
.link-list{
  padding-top: 1.5rem;
  .link-list-title{
    margin-bottom: 2rem;
    font-family: cursive,Century;
  }
  .link{
    width: 9rem;
  }
}

// Pagination
.pagination{
  justify-content: center;
  .page-item {
    &.active .page-link{
      background: darkturquoise;
   }
   .page-link{
     border: none;
     margin: 0 0.04rem;
     border-radius: 10%;
     &:hover{
       color: black;
       background: darkturquoise;
     }
   }
 }
}
