<h1>Short Diaryからお知らせ</h1>

<% if @resource.try(:unconfirmed_email?) %>
  <p>登録されたメールアドレスが<%= @resource.unconfirmed_email %>に変更されます。</p>
<% else %>
  <p>登録されたメールアドレスが<%= @resource.email %>に変更されました。</p>
<% end %>
