<h1>Short Diaryからのご連絡</h1>

<p>パスワード変更の申請を受け付けました。</p>
<p>パスワードを変更する場合は、下記の『アカウントを有効化する』をクリックしてパスワード変更用ページを開いて下さい。</p>
<p>下記のページでパスワードを変更するまでパスワードは変更されません。</p>
<p><%= link_to 'パスワードを変更する。', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>パスワードの変更を希望しない場合は、このメールを削除してください。</p>
